.portfolioPieceContainer {
    margin-top: 14vh;
    overflow-x: hidden;

    .lineBreak {
        width: 90%;
        height: 1px;
        margin: 20px 0;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .portfolioImageHolder {
        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 4%;
        margin-bottom: 2%;

        .portfolioImage {
            height: 100%;
            max-width: 100%;
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
        }
    }

    .spinner-border {
        color: orange;
        width: 80px;
        height: 80px;
    }

    .portfolioNavigation {
        display: flex;
        .prevContainer {
            display: flex;
            text-decoration: none;
            align-items: center;

            .prevArrow {
                transform: rotate(180deg);
                display: flex;
                align-items: center;
            }

            p {
                color: black;
                transition: 0.4s ease-in-out;
                margin: 0;

                &:hover {
                    color: orange;
                }
            }
        }

        .nextContainer {
            display: flex;
            text-decoration: none;
            align-items: center;

            .nextArrow {
                display: flex;
                align-items: center;
            }

            p {
                color: black;
                margin: 0;
                transition: 0.4s ease-in-out;

                &:hover {
                    color: orange;
                }
            }
        }
    }
}