.portfolioPieceContainer {
    margin-top: 200px;
    overflow-x: hidden;

    .pieceInfoBox {
        display: flex;
        flex-direction: column;

        h3 {
            font-family: 'din-condensed', sans-serif;
            font-weight: 300;
            font-size: 120%;

            @media (min-width: 1200px) {
                font-size: 148%;
            }
        }

        h6 {
            color: rgba(0, 0, 0, 0.6);
            font-size: 112%;
            text-transform: uppercase;
            font-family: 'Pathway Gothic One', sans-serif;
        }
    }

    h1 {
        text-transform: uppercase;
        font-size: 180%;
        font-weight: 600;
    }



    .lineBreak {
        width: 100%;
        height: 1px;
        margin: 20px 0;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .portfolioImageHolder {
        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 4%;
        margin-bottom: 2%;

        .portfolioImage {
            height: 100%;
            max-width: 100%;
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
        }
    }

    .spinner-border {
        color: #1F4FC1;
        width: 80px;
        height: 80px;
    }

    .portfolioNavigation {
        display: flex;

        .prevContainer {
            display: flex;
            text-decoration: none;
            align-items: center;

            p {
                font-weight: 600;
                color: black;
                transition: 0.4s ease-in-out;
                margin: 0;

                &:hover {
                    color: #1F4FC1;
                }
            }
        }

        .nextContainer {
            display: flex;
            text-decoration: none;
            align-items: center;

            p {
                font-weight: 600;
                color: black;
                margin: 0;
                transition: 0.4s ease-in-out;

                &:hover {
                    color: #1F4FC1;
                }
            }
        }
    }
}