.aboutPageContainer {
    .aboutInfo {
        margin-top: 100px;
        padding: 0 4%;

        h2 {
            font-size: 420%;
            font-family: 'Oswald', sans-serif;
        }

        p {
            font-size: 90%;
            font-family: 'Noto Serif', serif;
            font-weight: 400;
            line-height: 24px;
            white-space: pre-wrap;
            text-align: justify;
        }

        .profilePicture {
            width: 100%;
            height: fit-content;

            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }

    @media (min-width: 768px) {
        .aboutInfo {
            margin-top: 140px;
        }
    }

    @media (min-width: 1440px) {
        .aboutInfo {
            margin-top: 144px;
        }
    }

    @media (min-width: 1800px) {
        .aboutInfo {
            margin-top: 160px;
        }
    }


}