.customInputContainer {
    width: 100%;
    margin-bottom: 3%;
    .customInput {
        width: 100%;
        height: 32px;
        border: none;
        background-color: rgb(238, 238, 238);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        padding: 2%;
    }
}