.portfolioImageContainer {
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2%;
    margin-bottom: 2%;

    img {
        height: auto;
        max-width: 100%;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
        object-fit: cover;
        cursor: pointer;
    }
}