.mainPortfolioContainer {
    display: flex;
    h2 {
        font-size: 240%;
        border-bottom: 2px solid #FAA44F;
        padding: 0.5% 1%;
    }

    .portfolioImagesHolder {
        justify-content: start;
    }
    
    
}