.contactPageContainer {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .row {
        width: 100%;
        padding: 0 5%;
    }

    h1 {
        border-bottom: 2px solid #FAA44F;
        padding: 0 1%;
    }

    .displayMessage {
        color: #FAA44F;
    }
}