.contactPageContainer {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .row {
        width: 100%;
        padding: 0 5%;
    }
    .displayMessage {
        color: #FAA44F;
    }
    .inputLabel {
        font-size: 140%;
        font-weight: 600;
        margin-bottom: 20px;
    }
}